@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 221.2 83.2% 53.3%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }

  /* .post p {
    @apply leading-7;
  }

  .post code {
    @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-accent;
  }

  .post h2 {
    @apply mt-6 text-3xl text-neutral-100;
  }

  .post h3 {
    @apply mt-4 text-xl text-neutral-100;
  }

  .post code {
    @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-accent;
  }

  .post a {
    @apply text-neutral-100 underline;
  }

  .post ul {
    @apply list-disc;
  }

  .post blockquote {
    @apply flex flex-row gap-2 before:block before:h-auto before:w-1 before:max-w-[1px] before:bg-accent before:content-[''];
  }

  .post pre {
    @apply p-4;
  }

  .post pre > code {
    @apply bg-transparent;
  } */

  /* prose-a:!decoration-dashed  */
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-primary 
    prose-h3:italic prose-p:!text-primary prose-a:!text-primary 
    prose-a:underline-offset-4
    hover:prose-a:text-accent prose-blockquote:!border-l-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-primary prose-figcaption:opacity-70
    prose-strong:!text-primary

    
    prose-code:rounded prose-code:bg-muted/75
    prose-code:p-1 prose-code:!text-[#86ACF8]
    prose-code:before:!content-[''] prose-code:after:!content-['']
    prose-pre:!text-primary prose-ol:!text-primary 
    prose-ul:overflow-x-clip prose-ul:!text-primary prose-li:marker:!text-accent
    prose-table:text-primary prose-th:border
    prose-th:border-secondary prose-td:border 
    prose-td:border-secondary prose-img:mx-auto 
    prose-img:!mt-2 prose-img:border-2 
    prose-img:border-secondary prose-hr:!border-secondary;
  }
  .prose a {
    @apply break-words hover:!text-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  /* .prose h2#table-of-contents {
    @apply mb-2;
  } */
  .prose details {
    @apply inline-block cursor-pointer select-none text-primary;
  }
  /* .prose summary {
    @apply focus-outline;
  } */
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  html {
    overflow-y: scroll;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  /* .focus-outline {
    @apply outline-2 outline-offset-1 outline-primary focus-visible:no-underline focus-visible:outline-dashed;
  } */
}
