---
import '@/styles/globals.css'
import ThemeToggle from '@/components/ThemeToggle.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
---

<PageLayout>
  <h1>Astro</h1>
  <ThemeToggle />
</PageLayout>
