---
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/Section.astro'
import Hero from '@/components/Sections/Hero.astro'
import Experience from '@/components/Sections/Experience.astro'
import Education from '@/components/Sections/Education.astro'
import About from '@/components/Sections/About.astro'
import Projects from '@/components/Sections/Projects.astro'
import Certifications from '@/components/Sections/Certifications.astro'
import Skills from '@/components/Sections/Skills.astro'
---

<PageLayout meta={{ title: 'Home' }}>
  <div class='flex w-full flex-col gap-y-10'>
    <!-- HERO Secion -->
    <Hero />
    <About />
    <!-- No Professional Work Experience -->
    <!-- <Experience /> -->
    <Education />
    <Projects />
    <!-- No Certifications -->
    <!-- <Certifications /> -->
    <Skills />
  </div>
</PageLayout>
