---
import { Icon } from 'astro-icon/components'
---

<button
  id='toggleDarkMode'
  class='relative rounded-md border border-border p-1.5 transition-all hover:bg-border'
>
  <span class='sr-only'>Dark Theme</span>
  <Icon
    name='sun'
    class='size-5 rotate-0 scale-100 transition-all dark:hidden dark:-rotate-90 dark:scale-0'
  />
  <Icon
    name='moon'
    class='hidden size-5 rotate-90 scale-0 transition-all dark:block dark:rotate-0 dark:scale-100'
  />
</button>

<script>
  function getCurrentTheme() {
    return localStorage.getItem('theme')
  }
  const toggleDarkModeButton = document.getElementById('toggleDarkMode')

  toggleDarkModeButton?.addEventListener('click', () => {
    const toggleDarkModeEvent = new CustomEvent('theme-change', {
      detail: { theme: getCurrentTheme() === 'light' ? 'dark' : 'light' }
    })
    document.dispatchEvent(toggleDarkModeEvent)
  })
</script>
