---
import ThemeProvider from '@/components/ThemeProvider.astro'
---

<html lang='en'>
  <body class='flex justify-center bg-background'>
    <ThemeProvider />
    <main
      class='flex min-h-screen w-screen max-w-[60rem] flex-col items-center px-6 pb-10 pt-7 font-satoshi text-[0.92rem] leading-relaxed sm:px-10 lg:px-10'
    >
      <slot />
    </main>
  </body>
</html>
